.DS_Store
.vscode
__pycache__
*.pyc
env
runtime
.idea
output
logs
reference
GPT_weights
SoVITS_weights
GPT_weights_v2
SoVITS_weights_v2
GPT_weights_v3
SoVITS_weights_v3
TEMP
weight.json
ffmpeg*
ffprobe*
*.wav
*.mp3
*.aac
*.ogg
*.m4a
*.flac
*.webm
GPT_SoVITS/pretrained_models/
GPT_SoVITS/text/ja_userdic/userdict.md5
GPT_SoVITS/text/ja_userdic/user.dict